<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Musica - Music Template</title>

    <!-- Favicon -->
    <link rel="icon" href="../musica2/img/core-img/favicon.ico"> 

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../musica2/style.css">
    <title>Your Website Title</title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
</head>

</head>

<body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      
        <!-- Your like button code -->
        <div class="fb-like" 
          data-href="https://www.your-domain.com/your-page.html" 
          data-layout="standard" 
          data-action="like" 
          data-show-faces="true">
        </div>
<!-- <div id="fb-root"></div>
<script> (fontion (d, s, id)  {
    var js, fjs = d.getElementsByTagName (s)[0];
     if (d.getElementsByTagId(id)) return;
     JS = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
     fjs.parentNode.insertBefore(js, fjs);
} (document, 'script', 'facebook-jssdk')); 
     </script> -->
    <!-- ##### Preloader ##### -->
    
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="../musica2/img/core-img/compact-disc.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="musica-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="musicaNav">

                        <!-- Nav brand -->
                        <a href="../musica2/index.html" class="nav-brand"><img src=../musica2/"img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.php">Acceuil</a></li>
                             
                                       <li><a href="ajoutReclamationproduit.html">reclamation produit</a></li>
                                       <li><a href="bloge.php">vesiter notre blog</a></li>
                                    <li><a href="#">Panier</a>
                                    </li>
                                    <li><a href="#">Produits</a>
                                        <div class="megamenu">
                                           
                                        </div>
                                    </li>
                                    <li><a href="concert-tours.html"></a></li>
                                    <li><a href="contact.html"></a></li>
                                </ul>

                                <!-- Social Button -->
                                <div class="top-social-info">
                                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url(../musica2/img/bg-img/breadcumb4.jpg);">
        <div class="bradcumbContent">
            <h2>reclamation produit </h2>
        </div>
    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area mt-30 section-padding-100-0">
        <div class="container">

            <div class="row">

                <div class="col-12 col-lg-6">
                    <div class="contact-content mb-100">
                        
                        <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<script>document.write();</script>  <a href=" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>

                        <!-- Contact Social Info 
                        <div class="contact-social-info mt-50">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        -->

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon">
                                <img src="../musica2/img/core-img/placeholder.png" alt="">
                            </div>
                            <h6>Tunis </h6>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon">
                                <img src="../musica2/img/core-img/message.png" alt="">
                            </div>
                            <h6>+216 52 272 411</h6>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon">
                                <img src="../musica2/img/core-img/smartphone.png" alt="">
                            </div>
                            <h6>Gaboudia.music@gmail.com</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="contact-content mb-100">
                        <!-- Contact Form Area -->
                        <div class="contact-form-area">
                            <form method="POST" action="ajoutReclamationproduit.php"  method="post" onsubmit="return executerverif()">
                                
                                <div class="form-group">
                                    <input name="typeP" type="text" class="form-control" id="email" placeholder="Type produit">
                                </div>
                                <div class="form-group">
                                    <input name="categorieP"  type="text" class="form-control" id="categorie" placeholder="categorie">
                                    <span style="color: red" id="erreurcategorie">
                                </div>
                                <div class="form-group">
                                    <input  name="numeroP" type="text" class="form-control" id="numero" placeholder="numero ">
                                </div> 
                                <span style="color: red" id="erreurnumero"></span>
                                <div class="form-group">
                                    <textarea name="descriptionP" name="message" class="form-control" id="case" cols="30" rows="10" placeholder="description"></textarea>
                                       <span style="color: red" id="erreurcase"></span>
                                </div>
                                <div class="form-group">
                                    <input name="numerofacture" type="text" class="form-control" id="numerofacture" placeholder="numero-facture ">
                                     <span style="color: red" id="erreurnumerofacture"></span>
                                </div>
                                <button class="btn musica-btn mt-30" type="submit">ajouter</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->
    
    

    <!-- ##### CTA Area Start ##### -->
    <div class="musica-cta-area section-padding-100 bg-img bg-overlay2" style="background-image: url(../musica2/img/blog-img/4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content d-flex justify-content-between align-items-center">
                        <div class="cta-text">
                            <h4></h4>
                            <h2>Merci pour votre confience </h2>
                            <h6></h6>
                        </div>
                        <div class="cta-btn">
                      <!--      <a href="#" class="btn musica-btn">contact us</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <div class="fb-comments" data- 
    href="http://www.amaranthe.info/2017/03/07ins%C3%A9rer-des-commentaire-facebook-sur-votre-site/" data-width="768" data-numposts="99"></div>
    
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../musica2/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../musica2/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../musica2/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../musica2/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../musica2/js/active.js"></script>
     <script src="js.js"></script>
</body>

</html>